@charset "UTF-8";
/* CSS Document */
/* For mobile phones: */
/*[class*="col-"] {
  width: 100%;
}*/

@media (max-width: 650px) {
	/* For tablets: */
	.col-s-1 {width: 8.33%;}
	.col-s-2 {width: 16.66%;}
	.col-s-3 {width: 25%;}
	.col-s-4 {width: 33.33%;}
	.col-s-5 {width: 41.66%;}
	.col-s-6 {width: 50%;}
	.col-s-7 {width: 58.33%;}
	.col-s-8 {width: 66.66%;}
	.col-s-9 {width: 75%;}
	.col-s-10 {width: 83.33%;}
	.col-s-11 {width: 91.66%;}
	.col-s-12 {width: 100%;}	

	nav {
		margin-top: -10px;
		overflow: hidden;
		width: auto;
		float: right;
		z-index: 0;
		padding-right: 10px;
		margin-bottom: -10px;
	}
	
	nav ul li {
		display: block;
	}
	
	nav ul li a {
		color: #fbf6a7;
		text-align: center;
		padding: 4px 14px;
		padding-right: 14px;
		text-decoration: none;
		font-family: "Gotham", Helvetica Neue, Helvetica, Arial, "sans-serif";
		font-size: 14px;
	}
	
	.sidebrand a {
	width: 100%;
	display: inline-block;
		color: #fbf6a7;
		padding: 5px 0px;
		text-decoration: none;
		font-family: "Gotham", Helvetica Neue, Helvetica, Arial, "sans-serif";
		font-size: 10px;
		line-height: 1;
	}
	
	.icon{
		width: 30px;
	}
	
	#reserve{
		font-size: 10px;
	}
	
}


@media (min-width: 650px) {
	/* For tablets: */
	.col-s-1 {width: 8.33%;}
	.col-s-2 {width: 16.66%;}
	.col-s-3 {width: 25%;}
	.col-s-4 {width: 33.33%;}
	.col-s-5 {width: 41.66%;}
	.col-s-6 {width: 50%;}
	.col-s-7 {width: 58.33%;}
	.col-s-8 {width: 66.66%;}
	.col-s-9 {width: 75%;}
	.col-s-10 {width: 83.33%;}
	.col-s-11 {width: 91.66%;}
	.col-s-12 {width: 100%;}	

	nav {
		margin-top: 0px;
		overflow: hidden;
		width: auto;
		float: right;
		z-index: 0;
		padding-right: 10px;
	}
	
	nav ul li {
		display: inline-block;	
	}
		
	nav ul li a {
		color: #fbf6a7;
		text-align: center;
		padding: 10px 3px;
		padding-right: 7px;
		text-decoration: none;
		font-family: "Gotham", Helvetica Neue, Helvetica, Arial, "sans-serif";
		font-size: 16px;
	}
	
	.sidebrand a {
	width: 100%;
	display: inline-block;
		color: #fbf6a7;
		padding: 10px 0px;
		text-decoration: none;
		font-family: "Gotham", Helvetica Neue, Helvetica, Arial, "sans-serif";
		font-size: 12px;
		line-height: 1;
	}
	
	.icon{
		width: 30px;
	}
	
	#reserve{
		font-size: 10px;
	}
	
	.slides2{
		display: none;
	}
}


@media (min-width: 780px) {
	/* For desktop: */
	.col-1 {width: 8.33%;}
	.col-2 {width: 16.66%;}
	.col-3 {width: 25%;}
	.col-4 {width: 33.33%;}
	.col-5 {width: 41.66%;}
	.col-6 {width: 50%;}
	.col-7 {width: 58.33%;}
	.col-8 {width: 66.66%;}
	.col-9 {width: 75%;}
	.col-10 {width: 83.33%;}
	.col-11 {width: 91.66%;}
	.col-12 {width: 100%;}

	nav {
		margin-top: 0px;
		overflow: hidden;
		width: auto;
		float: right;
		z-index: 0;
		padding-right: 10px;
	}
	
	nav ul li {
		display: inline-block;
	}
	
	nav ul li a {
		color: #fbf6a7;
		text-align: center;
		padding: 14px 14px;
		padding-right: 14px;
		text-decoration: none;
		font-family: "Gotham", Helvetica Neue, Helvetica, Arial, "sans-serif";
		font-size: 18px;
	}
	
	.sidebrand a {
	width: 100%;
	display: inline-block;
		color: #fbf6a7;
		padding: 15px 0px;
		text-decoration: none;
		font-family: "Gotham", Helvetica Neue, Helvetica, Arial, "sans-serif";
		font-size: 14px;
		line-height: 1.5;
	}
	
	.icon{
		width: 40px;
	}
	
	#reserve{
		font-size: 15px;
	}
	
	.slides2{
		display: block;
	}
}


#logo{
	margin-top: 20px;
	padding-left: 20px;
	margin: auto;
	float: left;
	z-index: 0;
}

#header {
	margin-top: 10px;
	width: 100%;
	z-index: 0;
	display: inline-block;
}

body{
	margin: 0px -5px;
	background-color: #000000;
	color: aliceblue;
}

nav ul li {
	list-style-type: none;
	padding-left: 20px;
	text-align: right;
}


nav ul li a:hover {
	color: #a4813b;
}

nav ul li a:active {
	color: #a4813b;
}

.newest {
	margin-top: -5px;
	text-align: center;
}

#brands {
	display: inline-block;
	padding-top: 10px;
	margin: auto;
	background-color: #000000;
}

.brand {
	margin: -5px 0px;
	width: 100%;
	display:inline-block;
}

#feature{
	margin-top: -5px; 
	width: auto;
}

.features{
	float: left;
}

#footer{
	z-index: 2;
	margin-top: -5px;
	width: 100%;
	display: inline-block;
	background-color: #FFFFFF;
	color: #a4813b;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}

#reserve{
	padding-top: 12px;
	padding-left: 20px;
	float: left;
}

#socials{
	padding-right: 10px;
	padding-top: 5px;
	float: right;
}

.img{
	webkit-transition: opacity 3s ease-in-out;
	transition: opacity 3s ease-in-out;
	opacity: .8;
}

.img:hover{
	webkit-transition: opacity .5s ease-in-out;
	transition: opacity .5s ease-in-out;
	opacity: 1;
}

.container{
	display: block;
	width: 100%;
}

.sidebrand{
	margin-left: -10px;
	padding-right: 10px;
	display: inline-block;
	z-index: 0;
	float: left;
	background-color: #222222;
}

.sidebrand ul li {
		margin-left: -10px;
		display: block;
		list-style-type:none;
	}

.sidebrand ul li a:hover {
	color: #a4813b;
}

.sidebrand ul li a:active {
	color: #a4813b;
}

.product-container{
	display: inline-block;
	height: 200px;
}

.product-container img{
	margin-bottom: -6px;
	margin-right: -4px;
	display: inline-block;
}